{:project-id "bb-depsolve"
 :parent "hive"
 :description "Generic monorepo dependency sync, upgrade & reporting tool for babashka"
 :language :clojure
 :tags ["deps" "sync" "upgrade" "monorepo" "babashka"]}
